<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>

  <connectionStrings>
    <add name="Con" connectionString="Data Source=DESKTOP-G71Q1UA\SQLEXPRESS;Initial Catalog=clinic;USER ID=sa;password=sa123" providerName="System.Data.SqlClient"/>
    <add name="Clinics.Properties.Settings.clinicConnectionString" connectionString="Data Source=192.168.1.7\SQLEXPRESS;Initial Catalog=clinic;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Clinics.Properties.Settings.KzPharmacyConnectionString" connectionString="Data Source=192.168.1.7\SQLEXPRESS;Initial Catalog=KzPharmacy;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
